<header>
    <div class="container" id="top-bar">
        <nav  >
            <div id="logo">
                <img src="assets/images/logo.png" alt="logo"/>
            </div>
            
            <a routerLink="/" routerLinkActive="active-route">Stakepool</a>  
            <a routerLink="/SCM" routerLinkActive="active-route">SCM</a>  
            <a routerLink="/monitor" routerLinkActive="active-route">Monitor</a>  
        </nav>
        
        <div id="head-actions">
            <div id="my-spl">SCM</div>
            <button class="connect-wallet-button">connect wallet</button>
            <fa-icon [icon]="dots"></fa-icon>
        </div>
    </div>
</header>