<ion-card id="history-card">
    <ion-card-title id="history-card-title">
        <fa-icon [icon]="txBook"></fa-icon>Transaction history
    </ion-card-title>

    <div id="history-list-head">
        <div>txn hash</div>
        <div>block</div>
        <div>Value</div>
        <div>from</div>
        <div>to</div>
    </div>
    <div id="history-list-body" *ngIf="txHistory">
        <div id="record-list">
            <div class="record" *ngFor="let dataset of txHistory | paginate: { itemsPerPage: 5, currentPage: p}">
                <a (click)="openTxRecord(dataset.signature)">{{ utilsService.shortenSignature(dataset.signature, 5)}}</a>
                <div>{{dataset.block}}</div>
                <div>{{dataset.amount}}</div>
                <div>{{ utilsService.shortenAddress(dataset.from) }}<fa-icon [icon]="copyAddress"></fa-icon>
                </div>
                <div>{{ utilsService.shortenAddress(dataset.to) }}<fa-icon [icon]="copyAddress"></fa-icon>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</ion-card>