<ion-card id="wallet-card">
    <ion-card-title id="wallet-card-title"><fa-icon [icon]="wallet"></fa-icon>wallet</ion-card-title>
    <div id="wallet-list">
        <div id="wallet-list-head">
            <div>Token</div>
            <div>Balance(Value)</div>
            <div>SPL</div>
            <div>Action</div>
        </div>
        <div id="wallet-list-body">
            <div class="token">
                <div>SOL</div>
                <div>{{balance}} <small>({{solanaUsdBalance.toFixed(2)}}$)</small></div>
                <div>
                    <fa-icon [icon]="xMark"></fa-icon>
                </div>
                <div class="wallet-actions">
                    <ion-button fill="clear" (click)="openSendTokenPopup()">send</ion-button>
                    <ion-button fill="clear" (click)="copyMyAddress()">receive</ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-card>