:host{
    margin-top: 50px;
    display: block;
}
ion-content{
    height: 200px;
    max-height: 600px;
}
#promoted-validator {
    text-align: center;
    background: #343a40;
    padding: 20px;
    display: flex;
    flex-direction: column;
    #promoted-title{
        color: #57ffa2;
        font-size: 26px;
    }
    #group-validator {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        #validator-info {
            display: flex;
            align-items: center;
            min-width: 120px;
            justify-content: space-between;
            color: white;
        }
        ion-img{
            max-width: 35px;
            border-radius: 50%;
            overflow: hidden;
            margin-inline-end: 10px;
        }
        ion-button{
            --background: var(--sol-stake-active);
            --color-hover: var(--sol-stake-prime);
            --color: white;
            width: 100%;
        }
    }
}
