#stake-pool-card {
    height: 200px;
    border: 2px dashed #41adb5;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stake-detail{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}
.info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
}