<div id="stake-pool-card">
    TBD
    <!-- <div id="stake-detail">
        <div class="info">
            <label>deposit</label>
            <div class="val">sol</div>
        </div>
        <div class="info">
            <label>earn</label>
            <div class="val">SCM</div>
        </div>
        <div class="info">
            <label>APY</label>
            <div class="val">15%</div>
        </div>
        <button class="connect-wallet-button">Unlock Wallet</button>
        <div class="info">
            <label>Total Liquidity</label>
            <div class="val">10,000,000</div>
        </div>
        <div id="explorer">
            <a href="#" target="_blank">view on solana explorer <fa-icon [icon]="faArrowRight"></fa-icon></a>
        </div>
    </div> -->
</div>