

/* You can add global styles to this file, and also import other style files */
@import '/src/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}
body{
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc0JyBoZWlnaHQ9JzQnPjxwYXRoIGZpbGw9JyM5QzkyQUMnIGZpbGwtb3BhY2l0eT0nLjQnIGQ9J00xIDNoMXYxSDFWM3ptMi0yaDF2MUgzVjF6Jy8+PC9zdmc+);
    background-attachment: fixed;
}

img{
    max-width: 100%;
}
.container{
    padding: 24px;
    max-width: 1140px;
    margin: 0 auto;
}

.connect-wallet-button{
    background: $stakeconomy-prime;
    padding: 10px 36px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
    letter-spacing: 0.6px;
    opacity: 0.9;
    &:hover{
        opacity: 1;
    }
    &:disabled{
        opacity: 0.5;
    }
}

