$stakeconomy-prime: #222831;
$stakeconomy-second: #393e46;
$stakeconomy-active: #00adb5;
$stakeconomy-disabled: #eeeeee;
$stakeconomy-alert: #ffba93;
$stakeconomy-succ: #71ff9e;
$stakeconomy-err: #ff8e71;
